--- 
--- 

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body { 
    font-family: 'Questrial', sans-serif;
    text-align: justify;
    color: #585858;
    background: #3B0B17;
}


h1 ;
h2 ;
h3 
