--- 
--- 

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body { 
    font-family: 'Questrial', sans-serif;
    text-align: justify;
    color: #BDBDBD;
}


h1,
h2,
h3 { 
    font-family: 'Questrial', sans-serif;
    text-align: center;
    color: #424242;
}

.page-header {
    background: #424242;
 }